<settings xmlns="http://maven.apache.org/SETTINGS/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/4.0.0 https://maven.apache.org/xsd/settings-4.0.0.xsd">
<servers>
<server>
    <id>bcr-B78am</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
    <profiles>
  <profile>
    <id>bcr-B78am</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
  <repositories>
      <repository>
        <id>bcr-B78am</id>
        <url>https://bcr-915224313430.d.codeartifact.us-east-1.amazonaws.com/maven/B78am/</url>
      </repository>
  </repositories>
    </profile>
    </profiles>
</settings>

