<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0" >
<servers>
<server>
    <id>bcr-B78am</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
    <profiles>
  <profile>
    <id>bcr-B78am</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
  <repositories>
      <repository>
        <snapshots><enabled>true</enabled></snapshots>
        <id>release</id>
        <name>libs-release-local</name>
        <url>http://44.193.195.79:8082/artifactory/libs-release-local/</url>
      </repository>
     <repository>
       <snapshots>
       <id>snapshots</id>
       <name>libs-snapshot-local</name>
         <url>http://44.193.195.79:8082/artifactory/libs-snapshot-local/</url>
       </snopshots>
     </repository>
  </repositories>
    <id>default</id>
    </profile>
    </profiles>
</settings>

